# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/dist

# test coverage
/coverage

# env — only .env.example is committed
/env/.env
/env/.env.staging
/env/.env.production
